.hero {
  background-color: #FFECEC;
  color: #fff;
  padding: 50px 0;
}

.hero h1 {
  font-family: 'poppins', serif;
  font-size: 5rem;
  color: #A15151;
}

.hero p {
  font-size: 1.2rem;
  font-style: poppins;
  color: #806969;
}

.hero .btn {
  margin: 10px;
  color: #A15151;
}

.about {
  padding: 50px 0;
  background-color: #f9f3f5;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
}

.menu {
  padding: 50px 0;
  background-color: #fef1f3;
  text-align: center;
}

.menu h2 {
  font-size: 2.5rem;
}

.menu img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.navbar-brand{
  color: #F0A0A0;
}
.nav-link{
  color: #A15151;
}
.about{
  color: #C0B3B3;
}
.us{
  color: #C0B3B3;
}
.learn-more{
  color: #C0B3B3;
}
.about-us{
  color: #F0A0A0;
}
.text-about-us{
  color: black;
}
.btn-order{
  color:#ffffff;
  background-color: #A15151;
}
.testimonial-card {
  background-color: #fbeeee; /* Warna latar belakang */
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-height: 300px; /* Atur sesuai kebutuhan */
 
}
.testimonial-card img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  display: inline !important;
}
.testimonial-card .rating {
  color: #ffa41b;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-icon {
  background-color: #d8b4b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-text {
  font-size: 0.9rem;
}
.contact-title {
  font-weight: bold;
  color: #842029;
}