.hero {
  background-color: #0802A3;
  color: #fff;
  padding: 50px 0;
}

.hero h1 {
  font-family: 'poppins', serif;
  font-size: 5rem;
  color:#FF4B91;
}

.hero p {
  font-size: 1.2rem;
  font-style: poppins;
  color: #FFCD4B;
}

.btn-grab-now {
  margin: 10px;
  color: #0e7161;
  background-color: #FF4B91;
  border-radius: 15px;
  border:none;
  padding:5px;

}
.btn-order-now{ 
  color: #21AA93;
  background-color: #FFCD4B;
  border-radius:15px ;
  border:none;
  padding:5px;
}
.about {
  padding: 50px 0;
  background-color: #ffedae;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
}
.about{
  color: #21AA93;
}
.us{
  color: #21AA93;
}
.learn-more{
  color: #FF4B91;
}
.about-us{
  color: #5437b7;
}
.text-about-us{
  color: #FF4B91;
  font-size: 1.2rem;
  text-align: center;
}
.menu {
  padding: 50px 0;
  background-color: #9b94ed;
  text-align: center;
}

.menu h2 {
  font-size: 2.5rem;
}

.menu img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.navbar-brand{
  color: #F0A0A0;
}
.nav-link{
  color: #A15151;
}

.testimonial-card {
  background-color: #fbeeee; /* Warna latar belakang */
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-height: 300px; /* Atur sesuai kebutuhan */
 
}
.testimonial-card img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  display: inline !important;
}
.testimonial-card .rating {
  color: #ffa41b;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-icon {
  background-color: #d8b4b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-text {
  font-size: 0.9rem;
}
.contact-title {
  font-weight: bold;
  color: #842029;
}